.myclients-wrapper {
    padding: 24px;
    background-color: #3b858c;
    min-height: 70vh;
    color: white;
}

.myclients-wrapper h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.ClientsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    padding: 2rem;
}